<configuration>
    <configSections>
        <section name="serverSettings" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>

    <serverSettings>
        <add key="InstallRoot" value="" />
        <add key="SpeciesDsn" value="" />

        <add key="WelcomeMessage" value="Welcome to the Terrarium Server!"/>
        <add key="MOTD" value="Have fun!"/>
        <add key="IntroductionWait" value="5"/>
        <add key="IntroductionDailyLimit" value="30"/>
    </serverSettings>

    <location path="Species/AddSpecies.asmx">
        <system.web>
            <httpRuntime maxRequestLength="100" />
        </system.web>
    </location>

    <system.web>
        <compilation debug="true" />
        <customErrors mode="On" defaultRedirect="~/error.aspx" />
        <authentication mode="Windows" />
    </system.web>
</configuration>