<configuration>
    <configSections>
        <section name="settings" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>

    <settings>
        <add key="InstallRoot" value="" />
        <add key="SpeciesDsn" value="" />
    </settings>

    <location path="Species/AddSpecies.asmx">
        <system.web>
            <httpRuntime maxRequestLength="100" />
        </system.web>
    </location>

    <location path="Administration">
        <system.web>
            <authorization>
                <allow users="" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>

    <system.web>
        <compilation debug="true" />
        <customErrors mode="Off" />
        <authentication mode="Windows" />
    </system.web>
</configuration>