<configuration>
  <configSections>
    <section name="serverSettings" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <serverSettings>
    <add key="InstallRoot" value="D:\Virtuals\server8006_com\terrariumserver_com\Web"/>
    <add key="SpeciesDsn" value="Server=SERVER8006\SQLEXPRESS;Database=Terrarium;UID=TerrariumUser;PWD=silas551"/>
    <add key="WelcomeMessage" value="Welcome to the Terrarium Server!"/>
    <add key="MOTD" value="Have fun!"/>
    <add key="IntroductionWait" value="5"/>
    <add key="IntroductionDailyLimit" value="30"/>
  </serverSettings>
  <location path="Species/AddSpecies.asmx">
    <system.web>
      <httpRuntime maxRequestLength="100"/>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="~/error.aspx"/>
  </system.web>
</configuration>
