<configuration>
  <appSettings>
    <add key="InstallRoot" value="D:\Virtuals\server8006_com\terrariumserver_com\Web"/>
    <add key="SpeciesDsn" value="Server=SERVER8006\SQLEXPRESS;Database=Terrarium;UID=TerrariumUser;PWD=silas551"/>
    <add key="WelcomeMessage" value="Welcome to the Terrarium Server!"/>
    <add key="MOTD" value="Have fun!"/>
    <add key="IntroductionWait" value="5"/>
    <add key="IntroductionDailyLimit" value="30"/>
    <add key="LatestVersion" value="2.0.60110" />
    <add key="AssemblyPath" value="D:\Virtuals\server8006_com\terrariumserver_com\Species"/>
  </appSettings>
  <location path="Species/AddSpecies.asmx">
    <system.web>
      <httpRuntime maxRequestLength="1000"/>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="~/error.aspx"/>
  </system.web>
</configuration>
